<!-- Validation failure messages -->
<% if @kwest_trip.errors.any? %>
  <% @kwest_trip.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_kwest_trip/<%= @kwest_trip.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trip_name -->
      <div class="form-group">
        <label for="trip_name" class="control-label">
          Trip name
        </label>

        <textarea id="trip_name" name="trip_name" placeholder="Trip name" class="form-control" rows="3"><%= @kwest_trip.trip_name %></textarea>
      </div>

      <!-- Label and input for region_name -->
      <div class="form-group">
        <label for="region_name" class="control-label">
          Region name
        </label>

        <input type="text" id="region_name" name="region_name" placeholder="Region name" class="form-control" value="<%= @kwest_trip.region_name %>">
      </div>

      <!-- Label and input for short -->
      <div class="checkbox">
        <label for="short">
          <input type="checkbox" id="short" name="short" value="1" <%= "checked" if @kwest_trip.short %>>
          Short
        </label>
      </div>

      <button class="btn btn-warning">
        Update Kwest Trip
      </button>
      or
      <a href="/kwest_trips/<%= @kwest_trip.id %>">Cancel</a>
    </form>
  </div>
</div>
