<div class="page-header">
  <h3>Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trip name</dt>
      <dd><%= @kwest_trip.trip_name %></dd>

      <dt>Region name</dt>
      <dd><%= @kwest_trip.region_name %></dd>

      <dt>Short</dt>
      <dd><%= @kwest_trip.short %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kwest_trips" class="btn btn-primary">
        Back
      </a>
      <a href="/kwest_trips/<%= @kwest_trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kwest_trip/<%= @kwest_trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Kwest trip has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @kwest_trip.reviews.each do |recommendation| %>
        <li class="list-group-item">
          <a href="/recommendations/<%= recommendation.id %>">
            <%= recommendation.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recommendation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_id -->
      <input type="hidden" name="sender_id" value="<%= current_user.id %>">

      <!-- Label and input for recipient_id -->
      <div class="form-group">
        <label for="recipient_id" class="control-label">
          Recipient
        </label>

        <%= select_tag(:recipient_id, options_from_collection_for_select(KwestTrip.all, :id, :trip_name), :class => "form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for rec_type -->
      <div class="form-group">
        <label for="rec_type" class="control-label">
          Rec type
        </label>

        <input type="text" id="rec_type" name="rec_type" placeholder="Rec type" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Recommendation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Kwest trip has many sign_ups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sign Ups
      </li>

      <% @kwest_trip.sign_ups.each do |sign_up| %>
        <li class="list-group-item">
          <a href="/sign_ups/<%= sign_up.id %>">
            <%= sign_up.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sign_ups/<%= sign_up.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sign_ups/<%= sign_up.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sign_up/<%= sign_up.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sign_up" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for kwestee_id -->
      <input type="hidden" name="kwestee_id" value="<%= current_user.id %>">

      <!-- Label and input for trip_id -->
      <div class="form-group">
        <label for="trip_id" class="control-label">
          Trip
        </label>

        <%= select_tag(:trip_id, options_from_collection_for_select(KwestTrip.all, :id, :trip_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sign Up
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
