<div class="page-header">
  <h3>Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @kwest_trip.name %></dd>

      <dt>Start date</dt>
      <dd><%= @kwest_trip.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @kwest_trip.end_date %></dd>

      <dt>Enrollment</dt>
      <dd><%= @kwest_trip.enrollment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kwest_trips" class="btn btn-primary">
        Back
      </a>
      <a href="/kwest_trips/<%= @kwest_trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kwest_trip/<%= @kwest_trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Kwest trip has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @kwest_trip.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Kwest trip has many sign_ups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sign Ups
      </li>

      <% @kwest_trip.sign_ups.each do |sign_up| %>
        <li class="list-group-item">
          <a href="/sign_ups/<%= sign_up.id %>">
            <%= sign_up.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sign_ups/<%= sign_up.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sign_ups/<%= sign_up.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sign_up/<%= sign_up.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
