<div class="page-header">
  <h3>Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @kwest_trip.name %></dd>

      <dt>Start date</dt>
      <dd><%= @kwest_trip.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @kwest_trip.end_date %></dd>

      <dt>Enrollment</dt>
      <dd><%= @kwest_trip.enrollment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kwest_trips" class="btn btn-primary">
        Back
      </a>
      <a href="/kwest_trips/<%= @kwest_trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kwest_trip/<%= @kwest_trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
